.btn-google {
  background-color: #FFF !important;
  color: #0d0d0d;
}

.btn-cimat {
  background-color: #8F083C;
  border-color: #8F083C;
  color: #fff;
  margin-top: 50px;
}

.tb-comtaomer {
  padding: 16px;
}
